<!-- This file was created by Patrick Shane McClintock in March 2018 for the Mulenerva Project. -->

<div class="content">
  <div class="header" style="text-align:center;">
    <span class="title" style="margin-left: 10%;">
      <img src="/assets/title.png">
    </span>
    <span class="logo"> </span>
  </div>

  <div class="search">
    <app-search></app-search>
  </div>

  <div class="results">
    <app-results></app-results>
  </div>

  <div class="footer">
    &copy; Texas A&M Univesity
  </div>
</div>
