[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
pymongo = "*"
"boto3" = "*"
pylint = "*"
requests = "*"
flask-cors = "*"
coverage = "*"
gunicorn = "*"

[requires]
python_version = "3"
