<!DOCTYPE html>
<html lang ="en">
<div class="content">
    <div class="header" style="text-align:center">
        <h1>
            <span class="title">
                {{ title }}
            </span>
            <span class="logo">
                <img src="/assets/logo.png">
            </span>
        </h1>
    </div>
    <br />
    <br>
    <!--
    <div class="search">
        <app-search></app-search>
    </div>
        -->
      <div class="buttons">
      <app-buttons></app-buttons>
        </div>
   
</div>

<div class="footer">
  &copy; Texas A&M Univesity
</div>

</html>
      